/* bring in normalize.css styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  display: block;
  width: 100%;
}

ul {
  margin-left: 0;
  padding-left: 0;
}
li {
  list-style-type: none;
}
